# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x + 2

print(add_two)
add_two

<function add_two at 0x00000251CCD46830>

In [2]:
# lambda param: one-line function
lambda x: x + 2

In [3]:
print(lambda x: x + 2)

<function <lambda> at 0x00000251CCDF8790>

In [4]:
add_two(10)

12

In [5]:
# IIFE - Immediately Invoked Function Expression
# Execute a lambda function immediately after defining the function
# Syntax: (lambda param: expression)(arg)

(lambda x: x+2)(10)

12

In [6]:
num = 25

num_plus_two = (lambda x: x + 2)(num)

print(num_plus_two)

27

#### Saving to a Variable

In [7]:
named_lambda = lambda y: y**2

print(named_lambda)

<function <lambda> at 0x00000251C8611AB0>

In [8]:
named_lambda(5)

25

#### Multiple Inputs

In [10]:
def multiply(x, y, z):
    return x * y * z

multiply(10, 20, 2)

400

In [11]:
multiply(5, 6, 7)

210

In [12]:
# Syntax: lambda param1, param2, etc: expression

lambda x, y, z: x * y * z

In [13]:
# As an IIFE - (lambda param1, param2, etc: expression)(arg1, arg2, etc.)
(lambda x, y, z: x * y * z)(2, 3, 4)

24

In [18]:
def accept_args(*args):
    return args

accept_args(1, 2, 3, 4)

(1, 2, 3, 4)

In [21]:
(lambda *args: args)('a', 'b', 'c')

('a', 'b', 'c')

In [24]:
def accept_kwargs(**kwargs):
    return kwargs

accept_kwargs(name='Brian', age=99, city='Chicago')

{'name': 'Brian', 'age': 99, 'city': 'Chicago'}

In [27]:
(lambda **kwargs: kwargs)(name='Sarah', age=55, city='Canyon City')

{'name': 'Sarah', 'age': 55, 'city': 'Canyon City'}

In [28]:
def get_evens(nums):
    output = []
    for num in nums:
        if num % 2 == 0:
            output.append(num)
    return output

get_evens([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

In [32]:
(lambda nums: [num for num in nums if num % 2 == 0])([5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

[10, 20, 30, 40, 50]

#### Passing a Function into a Function

In [33]:
def apply_to_each(a_list, f):
    """
    Print the return value of function f applied to every element in a_list
    a_list -> List of elements to execute function f on
    f -> Function to execute
    """
    for element in a_list:
        f_return = f(element)
        print(f_return)

In [34]:
def get_first_letter(string):
    return string[0]

In [35]:
list_of_seasons = ['Winter', 'Spring', 'Summer', 'Fall']

In [36]:
apply_to_each(list_of_seasons, get_first_letter)

W
S
S
F

In [37]:
def reverse_string(string):
    return string[::-1]

In [38]:
apply_to_each(list_of_seasons, reverse_string)

retniW
gnirpS
remmuS
llaF

#### Passing a Lambda into a Function

In [39]:
# Call the apply_to_each function, pass in a lambda function as f argument

apply_to_each(list_of_seasons, lambda season: season.upper())

WINTER
SPRING
SUMMER
FALL

In [40]:
apply_to_each([5, 10, 15, 20, 25, 30], lambda num: num**2 if num % 2 == 0 else num * 2)

10
100
30
400
50
900

In [42]:
def double_or_square(num):
    if num % 2 == 0:
        return num ** 2
    else:
        return num * 2

apply_to_each([5, 10, 15, 20, 25, 30], double_or_square)

10
100
30
400
50
900

#### Returning a Function from a Function

In [47]:
def my_outer_function(name):
    print(f"Hello {name}")
    
    # Define a function - will be scoped to my_outer_function
    def my_inner_function():
        city = 'Chicago'
        print(f"This is the inner function {name} from {city}")
        
    # Execute the inner function
    my_inner_function()
    
#     print(f"Goodbye {name} from {city}") # NameError: name 'city' is not defined
    
    
print(my_outer_function)
my_outer_function

<function my_outer_function at 0x00000251CCDF89D0>

In [48]:
my_outer_function('Brian')

Hello Brian
This is the inner function Brian from Chicago

In [50]:
# my_inner_function()

In [51]:
my_outer_return = my_outer_function('Sarah')

Hello Sarah
This is the inner function Sarah from Chicago

In [52]:
print(my_outer_return)

None

In [53]:
def my_outer_function2(name):
    print(f"Hello {name}")
    
    # Define a function - will be scoped to my_outer_function
    def my_inner_function():
        city = 'Chicago'
        print(f"This is the inner function {name} from {city}")
        
    # return the inner function
    return my_inner_function


print(my_outer_function2)
my_outer_function2

<function my_outer_function2 at 0x00000251CF086950>

In [55]:
my_outer_return2 = my_outer_function2('Brian')
print(my_outer_return2)

Hello Brian
<function my_outer_function2.<locals>.my_inner_function at 0x00000251CF086D40>

In [56]:
my_outer_return2()

This is the inner function Brian from Chicago

In [57]:
def create_multiplier(num):
    def multiply(x):
        return num * x
    return multiply

five_times = create_multiplier(5)
print(five_times)

<function create_multiplier.<locals>.multiply at 0x00000251CF086440>

In [59]:
five_times(10)

50

In [60]:
five_times(3)

15

In [62]:
three_times = create_multiplier(3)
print(three_times)

<function create_multiplier.<locals>.multiply at 0x00000251CCD47EB0>

In [63]:
three_times(10)

30

In [64]:
three_times(3)

9

In [65]:
equals_line = create_multiplier('=')

equals_line(50)

'=================================================='

#### Returning a Lambda from a Function

In [67]:
def new_multiplier(num):
    return lambda x: num * x


four_times = new_multiplier(4)
print(four_times)
four_times

<function new_multiplier.<locals>.<lambda> at 0x00000251CF0879A0>

In [69]:
print(four_times(10))
print(four_times(5))

40
20

#### If Statements within Lambdas

In [70]:
def double_or_square(num):
    if num % 2 == 0:
        return num ** 2
    else:
        return num * 2

print(double_or_square(10))
print(double_or_square(5))
print(double_or_square(12))
print(double_or_square(7))

100
10
144
14

In [71]:
# Ternary: value_if_true if condition else value_if_false
def double_or_square(num):
    return num ** 2 if num % 2 == 0 else num * 2

print(double_or_square(10))
print(double_or_square(5))
print(double_or_square(12))
print(double_or_square(7))

100
10
144
14

In [72]:
# As an IIFE
(lambda num: num ** 2 if num % 2 == 0 else num * 2)(6)

36

In [73]:
(lambda num: num ** 2 if num % 2 == 0 else num * 2)(9)

18

#### In-Class Exercise #1 <br>
<p>Write a lambda function that takes in three arguments <code>a</code>,<code>b</code>,<code>c</code> and returns the product of <code>a</code> and the difference of <code>b</code> and <code>c</code></p>

In [75]:
# Example 1 
# a = 10, b = 5, c = 2
# Output: 30
(lambda a, b, c: a*(b-c))(10, 5, 2)
# Example 2
# a = 20, b = 10, c = 5
# Output: 100

30

In [76]:
(lambda a, b, c: a*(b-c))(20, 10, 5)

100

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [ ]:
# map(function, *iterables -> List, Tuple, String, Set, Dictionary, etc)

#### Using Lambda's with Map

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [ ]:
numbers = range(1,11)

# [0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [ ]:
names = ['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron']

In [ ]:
# Syntax: filter(function_to_apply, iterable -> List,Tuple,Set,Dict,String,etc)

#### Using Lambda's with Filter()

#### In-Class Exercise #3 <br>
<p>Write a function that takes in a list of cities as strings and returns a list of cities with at least two words in the name</p>

In [ ]:
cities = ['Chicago', 'Los Angeles', 'New York City', 'Miami', 'Oklahoma City', 'Baton Rouge', 'Boston', 'Denver']
# Output: [Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

#### Using Lambda's with Reduce()

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [ ]:
nums = [2, 4, 6, 8, 10]
# Output: 3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [ ]:
def capitalize(name):
    # Takes in a name, upper case the first letter and lower case the rest
    return name[0].upper() + name[1:].lower()

def full_name(first, last):
    # take in a first name, capitalize the first name, take in a last name, capitalize the last name and 
    # then returns the concatenated string of first + space + last
    return capitalize(first) + ' ' + capitalize(last)


def greet_person(first_name, last_name, day_of_week):
    person_full_name = full_name(first_name, last_name)
    print(f"Hello {person_full_name}, it sure is beautiful on this {capitalize(day_of_week)}")
    
greet_person('bRIaN', 'stANtOn', 'tUEsdaY')

In [ ]:
import time

def func_one():
    print("Function One Started")
    time.sleep(5)
    print("Function One Ended")
    
    
def func_two():
    print("Function Two Started")
    func_one()
    print("Function Two Ended")
    
    
func_two()

#### Implementing a Base Case

#### Writing a Factorial Function

In [ ]:
# 5! = 5 * 4!
# 4! = 4 * 3!
# ...
# 1! = 1

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [ ]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York", "DC"]

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [ ]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield", "David hassELHOFF", "Gary A.J. Bernstein"]

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [ ]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

```
Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8
```

In [ ]:
def fib(num):
    pass

In [ ]:
n = 6

for i in range(n):
    print(f"Iteration {i}: {fib(i)}")

### Exercise #5<br>
<p>Create a generator that takes a number argument and yields that number squared, then call the generator and iterate through and print the result.</p>

In [ ]:

# 100
# 81
# 64
# 49
# 36
# 25
# 16
# 9
# 4
# 2
# 1
# 0